<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>{{ seo.title }}</title>
    <meta name="description" content="{{ seo.description }}">
    <link rel="canonical" href="{{ seo.canonical }}" />
    <meta property="fb:app_id" content="" />
    <meta property="og:title" content="{{ seo.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ seo.description }}" />
    <meta property="og:site_name" content="Jim Pirrie Coaching" />
    <meta property="og:url" content="{{ seo.canonical }}" />
    <meta property="og:image" content="{{ seo.image }}" />
    <meta property="og:image:url" content="{{ seo.image }}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ seo.title }}">
    <meta name="twitter:image" content="{{ seo.image }}">
    <meta name="twitter:description" content="{{ seo.description }}">
    <meta name="twitter:site" content="@jimpirrie">
    <meta name="twitter:creator" content="@jimpirrie">

    <!-- JQuery and Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/b118b1b380.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="/_css/styles.css">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-55WM35W');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-55WM35W"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="header"></div>
<nav id="header" class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand p-0" href="/"><img class="d-none d-md-block" id="logo" style="height: 108px;" src="/_images/Jim-Pirrie-black-high-res.png"><img id="logoSmall" class="d-block d-md-none" style="height: 50px;" src="/_images/Jim-Pirrie-black-high-res.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto mr-0">
            <li class="nav-item {{ active.home }} text-center">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item {{ active.coaching }} text-center">
                <a class="nav-link" href="/coaching">Professional Development Coaching</a>
            </li>
            <li class="nav-item {{ active.workshops }} text-center">
                <a class="nav-link" href="/workshops">Professional Development Workshops</a>
            </li>
            <li class="nav-item {{ active.marketing }} text-center">
                <a class="nav-link" href="/marketing">Marketing Coaching for Coaches</a>
            </li>
            <li class="nav-item {{ active.clients }} text-center">
                <a class="nav-link" href="/clients">Clients</a>
            </li>
            <li class="nav-item {{ active.contact }} text-center">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
{% block content %}{% endblock %}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col pb-5">
                <hr>
                <p class="text-center pt-2">
                    Copyright &copy; Jim Pirrie Limited 2001-2022
                </p>
                <p class="text-center">
                    Registered as Company number 04294627 in England and Wales, VAT Number 785 1095 10
                </p>
                <p class="text-center">
                    <a href="/privacy">privacy policy</a> :: <a href="/website-terms-of-use">website terms of use</a> :: <a href="/terms-and-conditions">terms and conditions of business</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script>

    // logo is 90% of header height, initial header height is 120px

    if($("#logoSmall").css("display") == "block") {

        $(".header").height(70);
        $(".navbar").height(55);
    }
    else{

        var scrollTop = $(window).scrollTop();

        var headerHeight = 120 - scrollTop/2;
        var logoHeight = headerHeight * 0.9;

        console.log(headerHeight);

        if(headerHeight >= 50){

            $("#header").height(headerHeight);
            $("#logo").height(logoHeight);
        }
        else{

            $("#header").height(50);
            $("#logo").height(45);
        }

        $(window).scroll(function(){

            scrollTop = $(window).scrollTop();

            headerHeight = 120 - scrollTop/2;
            logoHeight = headerHeight * 0.9;

            if(headerHeight >= 50){

                $("#header").height(headerHeight);
                $("#logo").height(logoHeight);
            }
        });
    }
</script>
</body>
</html>