{# this page is the framework: content is in the included file #}
{% extends "_page.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col py-3 px-0">
                {% if blogPostId %}
                    <a href="/blog">Blog Home</a> <i class="fa-regular fa-arrow-right-long"></i> <strong>{{ post.title }}</strong>
                {% else %}
                    <strong>Blog Home</strong>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                {% include(contentTemplate) %}
            </div>
            <div class="col-3 blog-sidebar">
                <div class="">
                    {% if sidebarFeaturedList %}
                        <div class="mb-2">
                            <strong>Popular posts</strong>
                        </div>
                        {% for post in sidebarFeaturedList %}
                            <div class="mb-4">
                                <div class="box-16x9" style="background-image: url('{{ post.seoImage }}'); background-size: contain; background-position: center; background-repeat: no-repeat;">
                                    <div class="box-inner">
                                        <div class="box-content" style="background-image: url('/_images/{{ post.seoImage }}'); background-size: contain; background-repeat: no-repeat;background-position: center;">
                                        </div>
                                    </div>
                                </div>
                                {{ post.title }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if tags %}
                        <div class="mb-2">
                            <strong>Tags</strong>
                        </div>
                        <div class="text-center">
                            {% for tag in tags %}
                                <a class="btn {% if activeTag == tag %}btn-success{% else %}btn-primary{% endif %} px-1 py-0 mt-1" style="font-size: 12px;" href="/blog/?tag={{ tag }}">{{ tag }}</a>
                            {% endfor %}
                            {% if activeTag %}
                                <a class="btn btn-warning px-1 py-0 d-block mx-5 mt-2" style="font-size: 12px;" href="/blog/?cleartags=1">clear tags</a>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if sidebarOtherList %}
                        <hr>
                        <div class="mb-2">
                            <strong>Posts you might like</strong>
                        </div>
                        {% for post in sidebarOtherList %}
                            <div class="mb-4">
                                <div class="box-16x9" style="background-image: url('{{ post.seoImage }}'); background-size: contain; background-position: center;">
                                    <div class="box-inner">
                                        <div class="box-content" style="background-image: url('/_images/{{ post.seoImage }}'); background-size: contain; background-repeat: no-repeat;background-position: center;">
                                        </div>
                                    </div>
                                </div>
                                {{ post.title }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div style="height: 200px;"></div>
{% endblock %}