{# this page is the framework: content is in the included file #}
{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="height: 300px;background-image: url('/_images/carousel-waterfall.png');">
            <div class="page-banner-content">
                <h4 class="pt-5"><span class="mv-dynamic mv-item-type" data-itemref="{{ mv_ref }}"></span></h4>
                <h1 class="pt-2"><span class="mv-dynamic mv-item-name" data-itemref="{{ mv_ref }}"></span></h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 pt-3" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <a href="/">home</a> <i class="fa-regular fa-arrow-right-long"></i> free <i class="fa-regular fa-arrow-right-long"></i> signup <i class="fa-regular fa-arrow-right-long"></i> <strong><span class="mv-dynamic mv-item-type" data-itemref="{{ mv_ref }}"></span>: <span class="mv-dynamic mv-item-name" data-itemref="{{ mv_ref }}"></span></strong>
            </div>
            <div class="col-12 col-lg-4">
                <table class="float-end">
                    <tr>
                        <td>
                            <strong>Follow Jim:</strong>
                        </td>
                        <td>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_follow_toolbox d-inline-block"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="pb-0 pt-5"><span class="mv-dynamic mv-item-type" data-itemref="{{ mv_ref }}"></span>:</h4>
                <h1 class="p-0"><span class="mv-dynamic mv-item-name" data-itemref="{{ mv_ref }}"></span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-5">
                <div class="mv-dynamic mv-item-image"></div>
                <div class="mv-dynamic mv-item-description py-3 d-md-none"></div>
            </div>
            <div class="d-none d-md-block col-9">
                <div class="mv-dynamic mv-item-description py-3 fw-bold"></div>
            </div>
        </div>
        <div class="row">
            <div class="col pt-7">
                <div class="m-auto p-5" style="max-width: 600px; border: solid gray 1px; border-radius: 5px;">
                    <p>
                        Get instant access - pop your best email address in the form...
                    </p>
                    <div class="mv-form" data-itemRef="{{ mv_ref }}" data-formtype="2" data-btnclass="mv-btn-primary">yes - I want this...</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col pt-5">
                <div class="mv-dynamic mv-item-copy" data-itemref="{{ mv_ref }}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col pt-5">
                <div class="m-auto p-5" style="max-width: 600px; border: solid gray 1px; border-radius: 5px;">
                    <p>
                        Get instant access - pop your best email address in the form...
                    </p>
                    <div class="mv-form" data-itemRef="{{ mv_ref }}" data-formtype="2" data-btnclass="mv-btn-primary">yes - I want this...</div>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col" style="padding: 0 5% 0 5%;">
            </div>
        </div>
    </div>
    <div style="height: 200px;"></div>
{% endblock %}