{# this page is the framework: content is in the included file #}
{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="height: 300px;background-image: url('/_images/carousel-waterfall.png');">
            <div class="page-banner-content">
                <h4 class="pt-5">{{ mv.item.descriptor }}</h4>
                <h1 class="pt-2">{{ mv.item.name }}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 pt-3" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <a href="/">home</a> <i class="fa-regular fa-arrow-right-long"></i> free <i class="fa-regular fa-arrow-right-long"></i> signup <i class="fa-regular fa-arrow-right-long"></i> <strong>{{ mv.item.descriptor }}: {{ mv.item.name }}</strong>
            </div>
            <div class="col-12 col-lg-4">
                <table class="float-end">
                    <tr>
                        <td>
                            <strong>Follow Jim:</strong>
                        </td>
                        <td>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_follow_toolbox d-inline-block"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="pb-0 pt-5">{{ mv.item.prehead }}:</h4>
                <h1 class="p-0">{{ mv.item.headline }}</h1>
                <p>{{ mv.item.subhead }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="p-5" style="background-color: dodgerblue; border: solid gray 1px; border-radius: 10px; width: 100%;">
                    <table>
                        <tr>
                            <td style="background-image: url('{{ mv.item.images.poster.url }}'); background-color: white; background-size: cover; background-position: center;">
                            </td>
                            <td style="width: 50%;min-width: 400px;">
                                <div>
                                    <p class="fw-bold text-center">
                                        {{ mv.item.name }}
                                    </p>
                                    <p class="text-center">
                                        Get instant access to this {{ mv.item.descriptor}} - pop your best email address in the form...
                                    </p>
                                    <div class="mv-form" data-itemRef="{{ mv_ref }}" data-formtype="2" data-btnclass="mv-btn-primary">yes - I want this...</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col pt-5">
                <div class="m-auto p-5" style="max-width: 600px; border: solid gray 1px; border-radius: 5px;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col pt-5"><div class="py-3 d-md-none">{{ mv.item.description }}</div>
                <img class="w-25 float-start mt-3 me-5 mb-5 mb-md-2" style="box-shadow: 5px 5px 20px 2px gray;" src="/_images/JimPirrie-70-fence-cropped-200x1000.jpg">
                <img class="img-fluid" src="{{ mv.item.images.body.url }}">
                <div class="m-auto">{{ mv.item.signup_bullets | raw }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col pt-5">
                <div class="m-auto p-5" style="max-width: 600px; border: solid gray 1px; border-radius: 5px;">
                    <p class="fw-bold text-center">
                        {{ mv.item.name }}
                    </p>
                    <p class="text-center">
                        Get instant access to this {{ mv.item.descriptor}} - pop your best email address in the form...
                    </p>
                    <div class="mv-form" data-itemRef="{{ mv_ref }}" data-formtype="2" data-btnclass="mv-btn-primary">yes - I want this...</div>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col" style="padding: 0 5% 0 5%;">
            </div>
        </div>
    </div>
    <div style="height: 200px;"></div>
{% endblock %}