{# this page is the framework: content is in the included file #}
{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="height: 300px;background-image: url('/_images/carousel-waterfall.png');">
            <div class="page-banner-content">
                <h4 class="pt-5"><span class="mv-dynamic mv-item-type" data-ref="{{ mv_ref }}"></span></h4>
                <h1 class="pt-2"><span class="mv-dynamic mv-item-name" data-ref="{{ mv_ref }}"></span></h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 pt-3" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <a href="/">home</a> <i class="fa-regular fa-arrow-right-long"></i> success <i class="fa-regular fa-arrow-right-long"></i> <strong><span class="mv-dynamic mv-item-name" data-ref="{{ mv_ref }}"></span> (<span class="mv-dynamic mv-item-type" data-ref="{{ mv_ref }}"></span>)</strong>
            </div>
            <div class="col-12 col-lg-4">
                <table class="float-end">
                    <tr>
                        <td>
                            <strong>Follow Jim:</strong>
                        </td>
                        <td>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_follow_toolbox d-inline-block"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Success!</h1>
                <p>
                    You have successfully signed up for one of our <span class="mv-dynamic mv-item-type" data-ref="{{ mv_ref }}"></span>s:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding: 0 5% 0 5%;">
                <div class="row">
                    <div class="col col-md-3">
                        <h3 class="d-md-none"><span class="mv-dynamic mv-item-name" data-ref="{{ mv_ref }}"></span></h3>
                        <img class="mv-dynamic mv-item-image img-fluid">
                        <div class="mv-dynamic mv-item-description py-3 d-md-none"></div>
                    </div>
                    <div class="d-none d-md-block col-9">
                        <h3><span class="mv-dynamic mv-item-name" data-ref="{{ mv_ref }}"></span></h3>
                        <div class="mv-dynamic mv-item-description py-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    Watch your inbox - your access details will be in your a confirmation email: should be with you in the next few minutes!
                </p>
                <p>
                    If you don't see it soon, then please check your spam folder and remember to whitelist our email addresses...
                </p>
                <p>
                    See you there!
                </p>
                <p>
                    <img src="/_images/Jim-underline-black-high-res.png" style="height: 100px;">
                </p>
            </div>
        </div>
    </div>
    <div style="height: 200px;"></div>
{% endblock %}