{% extends "_page.html.twig" %}
{% block content %}
<div class="row">
    <div class="col page-banner" style="background-image: url('/_images/carousel-viaduct.png');">
        <div class="page-banner-content">
            <h1>Workshop:<br>{{ title }}</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 pt-3" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            <a href="/">home</a> <i class="fa-regular fa-arrow-right-long"></i> <a href="/workshops">workshops</a> <i class="fa-regular fa-arrow-right-long"></i> <strong>{{ title }}</strong>
        </div>
        <div class="col-12 col-lg-4">
            <table class="float-right">
                <tr>
                    <td>
                        <strong>Follow Jim:</strong>
                    </td>
                    <td>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div class="addthis_inline_follow_toolbox d-inline-block"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row mt-2">
            <div class="col">
                <table>
                    <tr>
                        <td style="width: 14%;">
                            <div class="workshops_bar_item{{ active.foundations }}">
                                <a href="/workshop-foundations-of-professional-effectiveness"><img class="w-100" src="/_images/workshops/root.png"></a>
                            </div>
                        </td>
                        <td style="width: 14%;">
                            <div class="workshops_bar_item{{ active.negotiation }}">
                                <a href="/workshop-negotiation-influence-and-sales"><img class="w-100" src="/_images/workshops/handshake.png"></a>
                            </div>
                        </td>
                        <td style="width: 14%;">
                            <div class="workshops_bar_item{{ active.strategy }}">
                                <a href="/workshop-strategic-decision-making"><img class="w-100" src="/_images/workshops/helicopter.png"></a>
                            </div>
                        </td>
                        <td style="width: 14%;">
                            <div class="workshops_bar_item{{ active.writing }}">
                                <a href="/workshop-writing-like-a-professional"><img class="w-100" src="/_images/workshops/story.png"></a>
                            </div>
                        </td>
                        <td style="width: 14%;">
                            <div class="workshops_bar_item{{ active.presenting }}">
                                <a href="/workshop-presenting-like-a-professional"><img class="w-100" src="/_images/workshops/presenter.png"></a>
                            </div>
                        </td>
                        <td style="width: 14%;">
                            <div class="workshops_bar_item{{ active.productivity }}">
                                <a href="/workshop-getting-things-done"><img class="w-100" src="/_images/workshops/productivity.png"></a>
                            </div>
                        </td>
                        <td style="width: 14%;">
                            <div class="workshops_bar_item{{ active.coaching }}">
                                <a href="/workshop-follow-up-coaching"><img class="w-100" src="/_images/workshops/head.png"></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row pt-3 pb-5">
            <div class="col">
                <h1 class="py-0">
                    Workshop: {{ title }}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="float-left w-25 mr-5" src="/_images/workshops/{{ image }}">
                <p class="workshop_page_lead pt-4">
                    {{ lead }}</p>
                <p class="workshop_page_summary">
                    {{ summary }}
                </p>
                <div style="clear: both; height: 30px;"></div>
                {{ copy | raw }}
                <div style="height: 200px;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}