{% extends "_page.html.twig" %}
{% block content %}
<div class="row">
    <div class="col page-banner" style="background-image: url('/_images/carousel-viaduct.png');">
        <div class="page-banner-content">
            <h1>Professional Development Workshops</h1>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row mt-2">
            <div class="col-2 text-center">
                <div class="workshops_bar_item{{ active.foundations }}">
                    <a href="/workshop-foundations-of-professional-effectiveness"><img class="w-100" src="/_images/workshops/root.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item{{ active.negotiation }}">
                    <a href="/workshop-negotiation-mediation-and-sales"><img class="w-100" src="/_images/workshops/handshake.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item{{ active.analysis }}">
                    <a href="/workshop-strategic-analysis"><img class="w-100" src="/_images/workshops/helicopter.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item{{ active.writing }}">
                    <a href="/workshop-writing-like-a-professional"><img class="w-100" src="/_images/workshops/story.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item{{ active.presenting }}">
                    <a href="/workshop-presenting-like-a-professional"><img class="w-100" src="/_images/workshops/presenter.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item{{ active.coaching }}">
                    <a href="/workshop-follow-up-coaching"><img class="w-100" src="/_images/workshops/head.png"></a>
                </div>
            </div>
        </div>
        <div class="row pt-3 pb-5">
            <div class="col">
                <h1 class="py-0">
                    Workshop: {{ title }}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="float-left w-25 mr-5" src="/_images/workshops/{{ image }}">
                <p class="workshop_page_lead pt-4">
                    {{ lead }}</p>
                <p class="workshop_page_summary">
                    {{ summary }}
                </p>
                <div style="clear: both; height: 30px;"></div>
                {{ copy | raw }}
                <div style="height: 200px;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}